@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #FF6464;
  --secondary-color: #00A8CC;
  --light-color: #8695A4;
  --dark-color: #21243D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: var(--dark-color);
}

/* Navbar Design */
nav{
    position: relative;
    height: 50px;
    margin: 15px 0;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 20px;
    color: var(--dark-color);
}
nav .hamburgerMenu {
   cursor: pointer;
   padding: 5px;
   border-radius: 50%;
   display: flex;
   align-content: center;
}
nav .hamburgerMenu:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
ul{
    display: flex;
    list-style: none;
    position: relative;
    align-items: center;
 }
ul a{
 text-decoration: none;
 margin-left: 25px;
 font-size: 20px;
 color: black
}

/* footer design */
footer{
    width: 100vw;
    height: 150px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .icon {
    margin: 0 15px 5px 15px;
}















